.addBookLogPage {
    width: 80%;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        label {
            display: inline-block;
            color: $darker-green;
        }

        .finishedDiv {
            display: inline-block;
            vertical-align: top;

            .checkbox{
                display: inline-block;
                vertical-align: top;
            }
        }

        input,
        textarea,
        select {
            padding: 4px;
            font-size: 14px;
            background: $cream;
            border: 2px solid $darker-green;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 8px;

            &:hover {
                cursor: pointer;
            }
        }

        select.custom-select-class {
            height: auto;
            border: 2px solid $darker-green;
            border-radius: 5px;
            background: $cream;

            &:hover {
                cursor: pointer;
            }
        }

        select {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 1;
        }
    }

    &.dark-mode{
        label {
            color: $light-green;
        }

        input,
        textarea,
        select{
            background: $black;
            border: 2px solid $light-green;
            color: $light-green;
        }
    }
}


@media screen and (max-width: 768px) {
    .addBookLogPage {
      width: 100%;
  
      form {
        width: 90%;
        margin: auto;
      }
    }
  }