.bookLogsPageDiv{
    width: 80%;
    margin: auto;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: $light-green;
      color: $darker-green;
  
      h2 {
        text-transform: uppercase;
      }
    }
  }
  
  .bookDetailsDiv {
      display: flex;
      align-items: flex-start;
    }
  
    .bookLogImg {
      width: 150px;
      height: auto;
      margin: 10px;
    }
  
    .bookInfo {
      margin: 10px;
    }

    @media screen and (max-width: 768px) {
      .bookLogsPageDiv {
        width: 100%;
  
        .header {
          flex-direction: column;
          align-items: center;
  
          h2 {
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
  
        .bookDetailsDiv {
          flex-direction: column;
          align-items: center;
  
          .bookLogImg {
            width: 80%;
            max-width: 150px;
            margin: 10px auto;
          }
  
          .bookInfo {
            width: 80%;
            margin: 10px;
          }
        }
      }
    }