.booksPageDiv {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .booksPageDiv {
    width: 100%;
  }

  .booksPageDiv .header {
    width: 100%;
    flex-direction: column;
    text-align: center;

    h2 {
      margin-bottom: 10px;
    }
  }
}
