button {
  padding: 5px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;

  &.light-mode {
    background: $light-green;
    border: 3px solid $darker-green;
    color: $darker-green;
  }

  &.dark-mode {
    background: $black;
    border: 3px solid $light-green;
    color: $light-green;
  }

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
