.filterAndSortDiv {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.filterByAuthor,
.sortBy {
    color: $darker-green;
    padding: 5px;

    &.dark-mode {
        color: $light-green;
    }
}

#authorFilter,
#sortCriteria {
    background: $cream;
    border: 2px solid $darker-green;
    border-radius: 8px;
    color: $darker-green;
    margin: 5px;

    &.dark-mode {
        background: $black;
        border-color: $light-green;
        color: $light-green;
    }
}

@media screen and (max-width: 768px) {
    .filterByAuthor,
    .sortBy,
    #authorFilter,
    #sortCriteria {
        width: 100%;
    }
}
