.notFoundPageDiv {
        width: 80%;
        margin: auto;
      
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          background-color: $light-green;
          color: $darker-green;
      
          h2 {
            text-transform: uppercase;
          }
        }
      
        p {
            text-align: center;
            margin: 20px;
        }

        .gif {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
          }
}