.toggleBtnDiv {
    margin: 5px;
  
    .toggle-button {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
  
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
  
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $cream;
        border: 2px solid $light-green;
        transition: background-color 0.3s, border 0.3s, transform 0.3s;
  
        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 2px;
          bottom: 2px;
          top: 2px;
          background-color: $light-green;
          transition: background-color 0.3s, transform 0.3s;
        }
      }
  
      &.dark-mode {
        .slider {
          background-color: black;
          border: 2px solid $light-green;
        }
      }
  
      .slider.round {
        border-radius: 34px;
      }
  
      .slider.round:before {
        border-radius: 50%;
      }
  
      input:checked + .slider:before {
        transform: translateX(26px);
      }
    }
  }
  